.header {
    display: grid;
    grid-template-columns: 40% 60%;
    font-size:2rem;
    transition: all 0.3s linear;
    padding-top: 3rem;
}

.left-header {
    text-align: left;
    padding: 2.3rem 0 0 5rem;
}

.logo {
    height: 3rem;
    width: 3rem;
}

.line {
    position: absolute;
    margin-top: 1.4rem;
    margin-left: 3vw;
    display:inline-block;
    width: 34vw;
    border-color: rgba(255, 255, 255, 0.1);
}

.right-header {
   background-color: rgba(255, 255, 255, 0.04);
   height: 6rem;
   width: 60vw;
   display: inline-block;
   padding: 1.5rem 0 0;
}

.header-menus {
    justify-content: center;
    display: flex;
    list-style: none;
    font-size: 0.7em;
}

.menu-number {
    margin: 0 0.5rem 0 0;
    letter-spacing: 0.2rem;
}

.menu {
    color: #fff;
    text-decoration: none;
    margin: 0 2rem;
    padding: 2.7rem 0 2.8rem 0;
}

.active {
    border-bottom: 2px solid white;
}

.menu:hover {
    border-bottom: 2px solid rgb(128, 128, 128);
}

