.full {
    position:fixed;
    width: 100%;
    height: 100%;
    background: url("../assets/home/background-home-desktop.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    background-color: black;
    z-index: -1;
}

.header {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    font-size:1.2vmax;
    padding-top: 1.9vmax;
    z-index: 1000;
}

.left-header {
    text-align: left;
    padding: 1.3vmax 0 0 3vmax;
}

.logo {
    height: 2vmax;
    width: 2vmax;
    margin: .1vmax 0 0 0;
}

.line {
    position: absolute;
    margin-top: 1vmax;
    margin-left: 3vw;
    display:inline-block;
    width: 34vw;
    border-color: rgba(255, 255, 255, 0.1);
}

.right-header {
   background-color: rgba(255, 255, 255, 0.04);
   height: 4vmax;
   width: 60vmax;
   display: inline-block;
   padding: .8vmax 0 0;
}

.header-menus {
    justify-content: center;
    display: flex;
    list-style: none;
    font-size: .8vmax;
    margin: 1.1vmax 0 0 0;
}

.menu-number {
    margin: 0 0.5rem 0 0;
    letter-spacing: 0.2rem;
}

.menu {
    color: #fff;
    text-decoration: none;
    margin: 0 1.2vmax;
    padding: 2vmax 0 1.8vmax 0;
}

.active {
    border-bottom: 3px solid white;
}

.menu:hover {
    border-bottom: 3px solid rgb(128, 128, 128);
}

.active:hover {
    border-bottom: 3px solid white;
}
