@media (min-width : 320px) {
    .technology-menus {
        position: fixed;
        top: 48%;
        display: flex;
        margin: 6vmax 0 0 0;
        left:50%;
        transform: translate(-50%);
        padding: 0;
        z-index: 100;
    }

    .technology-circle {
        color:rgb(255, 255, 255);
        height: 5.5vmax;
        width: 5.5vmax;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 50%;
        cursor: pointer;
        margin: 0 2vmax 3vmax 0;
        text-decoration: none;
    }

    .technology-circle:hover {
        border: 1px solid rgb(255, 255, 255);
    }

    .technology-active {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
        color : #000;
    }

    .technology-number {
        font-size: 2vmax;
        position: relative;
        top: 30%;
    }
}

@media (min-width : 768px) {
    
}

@media (min-width : 1200px) {
    .technology-menus {
        all: unset;
        display: grid;
        margin: 5vmax 0 0 0;
        padding: 0 0 1vmax 0;
    }

    .technology-circle {
        color:rgb(255, 255, 255);
        height: 5.5vmax;
        width: 5.5vmax;
        border: 1px solid rgb(184, 184, 184);
        border-radius: 50%;
        cursor: pointer;
        margin: 0 1vmax 3vmax 0;
        text-decoration: none;
    }

    .technology-circle:hover {
        border: 1px solid rgb(255, 255, 255);
    }

    .technology-active {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255);
        color : #000;
    }

    .technology-number {
        font-size: 2vmax;
        position: relative;
        top: 30%;
    }
}