@media (min-width : 320px) {
    .technology-container {
        display: grid;
        grid-template-columns: 100%;
    }

    .technology-left-side {
        margin: 5vmax 0 0 11vmax;
    }

    .technology-center {
        display: block;
        margin: 0 auto;
        color: #FFF;
        padding: 3vmax;
        width: 42vmax;
    }

    .space-launch {
        position: absolute;
        width: 40vmax;
        font-size: 1.5vmax;
        left: 50%;
        top: 10vmax;
        letter-spacing: 1vmax;
        transform: translate(-50%);
    }

    .title-number {
        color: rgb(128, 128, 128);
        margin: 0 1vmax 0 0;
        letter-spacing: 0.2vmax;
    }

    .the-terminology {
        color: #D0D6F9;
        margin: 48vmax 0 1vmax 0;
        font-size: 2vmax;
        font-weight: 100;
    }

    .technology-name {
        font-size: 4vmax;
        margin: 0 0 2.5vmax 0;
        font-weight: 100;
    }

    .technology-text {
        color: #D0D6F9;
        font-size: 2.5vmax;
        height: 9vmax;
        line-height: 3vmax;
    }

    .technology-img {
        position: fixed;
        width: 100%;
        height: 30vmax;
        bottom: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width : 768px) {
    .technology-center {
        display: block;
        margin: 0 auto;
        color: #FFF;
        padding: 3vmax;
        width: 60vmax;
    }

    .space-launch {
        position: absolute;
        font-size: 1.5vmax;
        left: 24vmax;
        top: 10vmax;
    }
}

@media (min-width : 1200px) {
    .technology-container {
        grid-template-columns: 10% 45% 45%;
    }

    .technology-left-side {
        margin: 5vmax 0 0 11vmax;
    }

    .technology-center {
        color: #FFF;
        margin: 1vmax 0 0 14vmax;
        text-align: left;
        padding: 3vmax 0;
        width: 50vmax;
    }

    .space-launch {
        all: unset;
        position: absolute;
        font-size: 1.5vmax;
        left: 10.5vmax;
        top: 11vmax;
        letter-spacing: 1vmax;
    }

    .title-number {
        color: rgb(128, 128, 128);
        margin: 0 1vmax 0 0;
        letter-spacing: 0.2vmax;
    }

    .the-terminology {
        margin: 8vmax 0 1vmax 0;
        font-size: 1.5vmax;
        font-weight: 100;
    }

    .technology-name {
        font-size: 4vmax;
        margin: 0 0 2.5vmax 0;
        font-weight: 100;
    }

    .technology-text {
        font-size: 1.5vmax;
        width: 35vmax;
        height: 9vmax;
        line-height: 2.2vmax;
    }

    .technology-img {
        all: unset;
        position: fixed;
        width: 35vmax;
        height: 35vmax;
        right: 0;
        top: 25%;
    }
}